<div id="main">
    <section class="menu">
    
        <article class="soups">
            <h2>Soups and Noodles</h2>
            <ol>
        <% @soups.each do |soups| %>
            <li>
                <span>
                    <!-- <%= soups.number %> -->
                    <strong><%= soups.title %></strong>
                   &mdash; &#36;<%= soups.price %> <span class="picture tooltip hide-text" title="<img src='img/soups/soup-1.jpg'/>">pic</span>
                    
                    <p><%= soups.description %></p>
                </span>
            </li>
        <% end %>
            </ol>
        </article>
        
        <article class="sandwiches">
            <h2>Sandwiches</h2>
            <p>
                All sandwiches are served with housemade mayo, pate, pickled carrots/daikon, cucumbers and cilantro on a fresh french baguette. Optional - jalapeños.
            </p>
            <ol start="9">
        <% @sandwiches.each do |sandwiches| %>
            <li>
                <span>
                    <!-- <%= sandwiches.number %> -->
                    <strong><%= sandwiches.title %></strong>
                    &mdash; &#36;<%= sandwiches.price %>
                    <p><%= sandwiches.description %></p>
                </span>
            </li>
        <% end %>
            </ol>
        </article>
        
        <article class="desserts">
            <h2>Desserts and Beverages</h2>
            <ul>
        <% @desserts.each do |desserts| %>
            <li>
              <strong><%= desserts.title %></strong>
              &mdash; &#36;<%= desserts.price %>
              <p><%= desserts.description %></p>
            </li>
        <% end %>
            </ul>
        </article>
    </section>
    <div class="clearfix"></div>
</div>